.seeding-card {
  border: 1px solid var(--theme-elevation-150);
  padding: 1rem;
  border-radius: 4px;
  background: var(--theme-elevation-50);
}
.actions {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}
.status {
  margin-top: .75rem;
}
.unitsDetails {
  margin-top: .5rem;
}
